.contacts-section{
	padding: 30px 0 10px 0;
	background-color: #fff;
}

.contacts-block{
	display: flex;
	justify-content: center;
	margin: 70px 40px 40px 40px;
	flex-wrap: wrap;
}

.contacts-section ul{
	list-style: none;
	color: #487EB0;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.contacts-section li{
	max-width: 450px;
	margin-bottom: 20px;
	display: flex;
	margin-bottom: 30px;
}

.contacts-section .icon{
	height: 40px;
	width: 40px;
	position: relative;
	bottom: 4px;
}

.contacts-section a{
	margin-left: 20px;
	font-size: 25px;
	font-weight: 600;
	color: #487EB0;
	transition: .3s linear;
}

.contacts-section li:hover a{
	color: #FC427B;
}